@import "./left.css";
@import "./right.css";

.resume-container {
    border: 0.2em solid rgb(139, 138, 146);
    border-radius: 0.3em;
    display: block;
    margin: 10em auto;
    max-width: 70%;

    font-family: 'Times New Roman', Times, serif;
    font: inherit;
}

.container {
    display: flex;
    position: relative;
}

.resume-title {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 0.1em solid rgb(139, 138, 146);
    background-color: rgb(139, 138, 146);
    color: white;
    /* margin-top: -1em; */
    padding: 0.1em;
}

div,
article,
h1,
h2,
h3,
h4,
h5,
h6,
section {
    font-family: 'Times New Roman', Times, serif;

}

.right,
.left {
    width: 50%;
    font: inherit;
    font-family: 'Times New Roman', Times, serif;

}




@media (max-width: 767px) {

    .right,
    .left {
        word-break: break-all;

    }

    .resume-container {
        max-width: 95%;
    }

    .contacts ul li {
        font-weight: 600;
        margin-bottom: 0.3em;
        word-break: break-all;
    }
}

@media (max-width: 512px) {
    .container {
        display: block;
        position: relative;
    }

    .right,
    .left {
        width: 100%;

    }

    .left {
        border: none;
    }
}

@media (max-width: 224px) {
    .text-button button a {
        padding: 0.5em;

    }

    .text-button button {
        height: 3em;


    }
}