.resume-container {
    border: 0.2em solid rgb(139, 138, 146);
    border-radius: 0.3em;
    display: block;
    margin: 10em auto;
    max-width: 70%;

    font-family: 'Times New Roman', Times, serif;
    font: inherit;
}

.container {
    display: flex;
    position: relative;
}

.resume-title {
    font-size: 2em;
    text-align: center;
    border-bottom: 0.1em solid rgb(139, 138, 146);
    background-color: rgb(139, 138, 146);
    color: white;
    /* margin-top: -1em; */
    padding-top: 0.1em;
}

div,
article,
h1,
h2,
h3,
h4,
h5,
h6,
section {
    font-family: 'Times New Roman', Times, serif;

}

.right,
.left {
    width: 50%;
    font: inherit;
    font-family: 'Times New Roman', Times, serif;

}

/* left */

.left {
    border-right: 0.2em dotted rgb(139, 138, 146);
    padding-top: 1.5em;

}


.img {
    width: 60%;
    height: 1;

    border: 0.4em solid rgb(139, 138, 146);

    border-radius: 0.3em;
    margin: 2em auto;
    display: block;
}

.imageName h2 {
    text-align: center;
    margin: 1em auto;
    font-family: 'Times New Roman', Times, serif;

}

/* .imageName {

    position: relative;
} */



.contacts h3 {
    font-weight: 600;
    background-color: rgb(139, 138, 146);
    color: white;
    padding: 0.5em;
    margin-right: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.contacts ul li {
    font-weight: 600;
    margin-bottom: 0.3em;
}

.contacts ul li a {
    text-decoration: none;
    color: black;
}

.contacts ul li a:hover {

    color: rgba(18, 5, 5, 0.646);
    word-spacing: 0.1em;
    letter-spacing: 0.05em;
}

.technologies {
    font-family: 'Times New Roman', Times, serif;

}


.technologies h3 {
    font-weight: 600;
    background-color: rgb(139, 138, 146);
    color: white;
    padding: 0.5em;
    margin-right: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.technologies ul li {
    font-weight: 600;
    margin-bottom: 0.3em;
}


.experience h3 {
    font-weight: 600;
    background-color: rgb(139, 138, 146);
    color: white;
    padding: 0.5em;
    margin-right: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

    margin-bottom: 0;
}

.experience section {
    margin: 1.5em;
    padding: 1em;
    border: 2px solid black;
}

.experience section div {
    display: flex;
    flex-wrap: wrap;
}

.experience section ul {
    padding-left: 1em;

}

.experience section div h4 {
    display: flex;
    flex-wrap: wrap;
    padding-right: 2em;

}

.pontica {
    padding-top: 0.9em;
    height: 2em;
}

.sixty {
    padding-top: 0;
    margin-top: -0.08em;
    height: 4em;
}


/* .right */


.right {
    display: block;
    margin: auto;
    margin-top: 0;
    padding-top: 2em;

}

.education-section {
    background-image: url(../images/gettyimages-1277772615-612x612.jpg);
    background-size: contain;
    border: 2px solid black;
    margin: 2em;
    font: inherit;

}

.title-image {
    display: flex;
    background-color: rgba(255, 255, 255, 0.916);
    font: inherit;


}

.title-image div {
    display: block;
    margin: auto;
    display: flex;
    font: inherit;
    flex-wrap: wrap;
    padding: 1em;

}



.softuni-logo {
    padding: 1em;
    width: 2em;
    height: 2em;
}

.education .certificateH3 {
    font-weight: 600;
    background-color: rgb(139, 138, 146);
    color: white;
    padding: 0.5em;
    padding-left: 1em;
    margin-left: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;

}


.text-button {
    font-weight: 600;
    padding: 1em;
    display: flex;
    padding-top: 0;
    background-color: rgba(255, 255, 255, 0.916);
    font: inherit;
    flex-wrap: wrap;


}

.text-button button {
    height: 2em;
    padding: 0;
    display: block;
    margin: auto auto;
    border-radius: 0.5em;
    box-sizing: border-box;

}

.text-button button a {
    padding: 0.5em 1.6em;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font: inherit;

}

.text-button button:hover {
    background-color: rgba(62, 59, 59, 0.902);
    border: none;
}

.text-button button a:hover {
    color: white;
}



@media (max-width: 767px) {

    .right,
    .left {
        word-break: break-all;

    }

    .resume-container {
        max-width: 95%;
    }

    .contacts ul li {
        font-weight: 600;
        margin-bottom: 0.3em;
        word-break: break-all;
    }
}

@media (max-width: 512px) {
    .container {
        display: block;
        position: relative;
    }

    .right,
    .left {
        width: 100%;

    }

    .left {
        border: none;
    }
}

@media (max-width: 224px) {
    .text-button button a {
        padding: 0.5em;

    }

    .text-button button {
        height: 3em;


    }
}