.resume-container {
    border: 2px solid black;
    display: block;
    margin: 10em auto;
    max-width: 70%;
    display: flex;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font: inherit;
}


.right,
.left {
    width: 49%;
    font: inherit;
    font-family: 'Times New Roman', Times, serif;
}

.left {
    border-right: 0.3em solid rgb(139, 138, 146);
}


.img {
    width: 60%;
    height: 1;
    border-left: 2em solid rgba(29, 2, 233, 0.655);
    border-top: 2em solid rgba(29, 2, 233, 0.655);
    border-right: 1em solid rgba(29, 2, 233, 0.655);
    border: 0.4em solid rgb(139, 138, 146);

    border-radius: 0.4em;
    margin: 2em auto;
    display: block;
}

.title-image {
    display: flex;
    background-color: rgba(255, 255, 255, 0.916);
    font: inherit;

}

.title-image div {
    display: block;
    margin: auto;
    display: flex;
    font: inherit;

}

.imageName h3 {
    display: block;
    margin: 1em auto;
}





.education-section {
    background-image: url(./gettyimages-1277772615-612x612.jpg);
    background-size: contain;
    border: 2px solid black;
    margin: 1em;
    font: inherit;

}





.softuni-logo {
    padding: 1em;
    width: 2em;
    height: 2em;
}

h3 {
    font: inherit;

}


.text-button {
    font-weight: 600;
    padding: 1em;
    display: flex;
    padding-top: 0;
    background-color: rgba(255, 255, 255, 0.916);
    font: inherit;

}

.text-button button {
    height: 2em;
    padding: 0;
    display: block;
    margin: auto auto;
    border-radius: 0.5em;

}

.text-button button a {
    padding: 0.5em 1.6em;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font: inherit;

}

.text-button button:hover {
    background-color: rgba(62, 59, 59, 0.902);
    border: none;
}

.text-button button a:hover {
    color: white;
}