.resume-container {
    border: 2px solid black;
    display: block;
    margin: 10em auto;
    max-width: 70%;
    display: flex;
    position: relative;
}

.img {
    width: 20%;
}







.right,
.left {
    width: 49%;
}

.education p {
    margin-bottom: 0;
}

.education-section {
    display: flex;
}